<h2><%= @kid.name %></h2>
<p>
  Birthday: <%= @kid.birthday %>
</p>
<p>
<!--Belong to these caregivers:<br><br>
  <% @kid.users.each do |user| %>
    <%= link_to user.username, user_path(user) %> <br>
     
  <% end %> <br><br>-->
Has these recorded logs:<br><br>
    <% @kid.behavior_logs.each do |log|%><br>
    Incident date:    <%= link_to log.date, behavior_log_path(log) %><br/>
   
    <% end %>
 </p> 